@model IEnumerable<DAO.TimeSheetMaster>
@using DAO
@{
    int workingHours = Convert.ToInt32(ViewBag.workingHours.ToString());

    Employee _Employee = ViewBag.Employee as Employee;
    List<EmployeeLeaveRequest> leaveRequestList = _Employee.EmployeeLeaveRequests.Where(a => a.Status.Trim().ToLower() == "approved").ToList();
}

<script>
    collspan();
    $("#ddlYear").val($("#year").html());
    $(".mws-datatable-fn").dataTable({
        sPaginationType: "full_numbers"
    });
</script>

@{Html.RenderPartial("EmployeeDetail", _Employee);}

<div style="text-align: center">
    <h4>TimeSheet List for the Year <span id="year">@ViewBag.year</span></h4>
    <span id="empid" style="display:none;">@ViewBag.EmployeeID</span>
</div>
<div class="mws-panel grid_8 mws-collapsible mws-collapsed mws-form" @*style="margin-top: 35px;"*@>
        <div class="mws-panel-header">
            <span style="width: 200px; display: inline-block;">Filter Result</span>
        </div>
        <div class="mws-panel-body no-padding" style="position: relative">
            <div class="mws-form-inline">
                <div class="mws-form-row">

                    <div class="grid_2" style="/*padding: 20px*/ margin-left: 0px;">
                    <label @*style="display: inline-block;margin-right: 10px;"*@ class="mws-form-label">Select Year</label>
                    <div  @*style="display: inline-block;"*@ class="mws-form-item">
                        @Html.DropDownList("ddlYear", ViewBag.yearsList as List<SelectListItem>, new { onchange = "reports.loadAllTimesheetListNew()" ,style="width:220px;" })
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<div class="mws-panel grid_8"></div>

<div class="mws-panel grid_8" id="data-grid">
    <div class="mws-panel-header">
        <span style="width: 200px; display: inline-block;"><i class="icon-table"></i>Timesheet</span>
        <div class="toolbar">
            <a style="margin-right:20px" href="@Url.Content("~/Report")">Back</a>
            @Html.ActionLink("Print", "PrintTimeSheetList", "Report", new {@id=@ViewBag.EmployeeID,@year=@ViewBag.year}, new {onclick = "openPrintPopup(this,event)"})
            &nbsp;
            <a href="javascript:void(0);" onclick="reports.loadTimesheetList('@_Employee.EmployeeID','@ViewBag.year');"><i class="icon-refresh"></i></a>
        </div>

    </div>
    <div class="mws-panel-body no-padding">
        <table class="mws-datatable-fn mws-table">

            <thead>
                <tr role="row">
                    <th>Year
                    </th>
                    <th>Month
                    </th>
                    <th>Total Hours
                    </th>
                    <th>Status
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @{
                    string returnUrl = "";              
                }
                @foreach (var item in Model)
                {
                    //returnUrl = Url.Content("~/Report/Timesheet/" + item.EmpID + "?returnUrl=/Report/Index");

                    int leavesHours = 0;
                    if (leaveRequestList.Count() > 0)
                    {
                        int halfDay = leaveRequestList.Where(a => a.HalfDay == true).Count();
                        int fullDay = leaveRequestList.Count() - halfDay;
                        leavesHours = (fullDay * workingHours) + (halfDay * (workingHours / 2));
                    }
                    decimal TotalHours = item.TimeSheets.Sum(a => a.Hours) ?? 0;
                    TotalHours += leavesHours;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Month)
                        </td>
                        <td>
                            @TotalHours Hrs
                        </td>
                        <td>
                            @if (item.IsSubmit == true)
                            {
                                if (item.Status != null && item.Status.ToLower().Trim() == "approved")
                                {
                                @:Approved
                                }
                                else
                                {
                                @:Pending
                                }
                            }
                            else
                            {
                                @:Not Submitted
                            }
                        </td>
                        <td>
                          
                                @Html.ActionLink("Show TS", "editTimesheet", "Employee", new { month = item.Month, year = @item.Year, timM_ID = @item.TimeSheetMasterID }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            @Html.ActionLink("Summary", "TimesheetSummary", new { EmployeeID = item.EmpID, TimesheetMasterId = item.TimeSheetMasterID}, new { @class = "btn btn-info" })

                        </td>
                        <td>
                           
                                @Html.ActionLink("Print", "printTimesheet", "Employee", new { month = item.Month, year = @item.Year, timM_ID = @item.TimeSheetMasterID }, new { @class = "btn btn-primary", onclick = "openPrintPopup(this,event)" })
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
