@model IEnumerable<DAO.EmployeeLeaveRequest>
@using DAO
@{
    Employee _Employee = ViewBag.Employee as Employee;
}
<script type="text/javascript">
    collspan();
    $("#ddlYear").val($("#year").html());
    $(".mws-datatable-fn").dataTable({
        sPaginationType: "full_numbers"
    });
</script>


@{Html.RenderPartial("EmployeeDetail", _Employee);}
<div style="text-align: center">
    <h4>Vacation Requests of Year <span id="year">@ViewBag.year</span></h4>
    <span id="empid" style="display:none;">@ViewBag.EmployeeID</span>
</div>
<div class="mws-panel grid_8 mws-collapsible mws-collapsed mws-form" @*style="margin-top: 35px;"*@>
        <div class="mws-panel-header">
            <span style="width: 200px; display: inline-block;">Filter Result</span>
        </div>
        <div class="mws-panel-body no-padding" style="position: relative">
            <div class="mws-form-inline">
                <div class="mws-form-row">

                    <div class="grid_2" style="/*padding: 20px*/ margin-left: 0px;">
                    <label @*style="display: inline-block;margin-right: 10px;"*@ class="mws-form-label">Select Year</label>
                    <div  @*style="display: inline-block;"*@ class="mws-form-item">
                        @Html.DropDownList("ddlYear", ViewBag.yearsList as List<SelectListItem>, new { onchange = "reports.loadAllVactionRequestNew()",style="width:220px;"  })
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<div class="mws-panel grid_8"></div>

<div class="mws-panel grid_8" id="data-grid">
    <div class="mws-panel-header">
        <span style="width: 200px; display: inline-block;"><i class="icon-table"></i>Vacation Requests</span>
        <div class="toolbar">
            <a style="margin-right:20px" href="@Url.Content("~/Report")">Back</a>
            @Html.ActionLink("Print", "PrintVacationRequestPV", "Report", new {@id=@ViewBag.EmployeeID,@year=@ViewBag.year}, new { onclick = "openPrintPopup(this,event)" })
            &nbsp;
            <a><i class="icon-refresh" onclick="reports.loadVacationRequests('@_Employee.EmployeeID','@ViewBag.year');"></i></a>
        </div>

    </div>
    <div class="mws-panel-body no-padding">
        <table class="mws-datatable-fn mws-table">

            <thead>

                <tr>

                    <th>Vacation/Leave
                    </th>
                    <th>Start Date
                    </th>
                    <th>End Date
                    </th>
                    <th>No. of Days
                    </th>
                    <th>No. of Leave Days
                    </th>

                    <th>Status
                    </th>
                    @*<th>Show
                    </th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    bool isHalfDay = false;
                    if (item.HalfDay == true && item.AssignedDate == 1)
                    {
                        isHalfDay = true;
                    }

                    bool isCancelled = false;
                    if (item.Status.Trim().ToLower() == "approved" && item.Cancel.HasValue && item.Cancel.Value == true)
                    {
                        isCancelled = true;
                    }
                    <tr>
                        <td>
                            @if (item.LeaveType != null)
                            {
                                @item.LeaveType.LeaveTypeName
                            }
                        </td>
                        <td>
                            @if (item.FromDate.HasValue)
                            {
                                @item.FromDate.Value.DayOfWeek @:,  @item.FromDate.Value.ToString("dd-MMM-yyyy")
                           }
                        </td>
                        <td>
                            @if (item.ToDate.HasValue)
                            {
                                @item.ToDate.Value.DayOfWeek @:,  @item.ToDate.Value.ToString("dd-MMM-yyyy")
                           }
                        </td>
                        <td>
                            @if (isHalfDay)
                            {
                                @:1/2
                            }
                            else if (item.ActualDate != null)
                            { 
                                @item.ActualDate
                            }
                        </td>
                        <td>
                            @if (isHalfDay)
                            {
                                @:1/2
                            }
                            else if (item.AssignedDate != null)
                            { 
                                @Html.DisplayFor(modelItem => item.AssignedDate)
                            }
                        </td>
                        <td>
                            @if (isCancelled)
                            {
                                @:CANCELLED
                            }
                            else
                            {
                                @item.Status.ToUpper()
                            }
                        </td>
                        @*<td>
                            <a class="btn btn-info">Show</a>
                        </td>*@

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
