@model HR_System.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

@{Html.RenderPartial("Notification");}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>Change Password</span>
    </div>
     <div class="mws-panel-body no-padding">

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "mws-form" }))
        {
            @Html.ValidationSummary(true)
     
            <div id="mws-validate-error" class="mws-form-message error" style="display: none;"></div>
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">Old Password</label>
                    <div class="mws-form-item">
                        @Html.PasswordFor(model => model.OldPassword, new { @class = "required" })
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">Password</label>
                    <div class="mws-form-item">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "required" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>

                <div class="mws-form-row">
                    <label class="mws-form-label">Confirm Password</label>
                    <div class="mws-form-item">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "required" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
  

            </div>
            <div class="mws-button-row">
                <input type="submit" class="btn btn-info" />
                  @Html.ActionLink("Cancel", "Index","Home", null, new { @class="btn btn-danger"})
            </div>
        }

    </div>
</div>
