@model IEnumerable<DAO.City>
<script>
    $(".mws-datatable-fn").dataTable({
        sPaginationType: "full_numbers"
    });
</script>

<div class="mws-panel grid_8" style="text-align: right; box-shadow: none;">
    @* @Html.ActionLink("Add New", "addCity", "Settings", null, new { @class = "btn btn-primary" })*@
</div>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span style="width: 200px; display: inline-block;"><i class="icon-table"></i>City</span>
        <div class="toolbar">
            <a><i class="icon-plus"></i>@Html.ActionLink("Add New City", "addCity", "Settings", null, new { @style = "margin-right:19px;margin-left: 8px;" })</a>
            <a href="javascript:"><i class="icon-refresh" onclick=" hr.loadCity();"></i></a>
            @* <a href="javascript:">Add New</a>*@

        </div>
        <!--<i class="icon-repeat" ></i>-->
    </div>
    <div class="mws-panel-body no-padding">
        <table class="mws-datatable-fn mws-table">
            <thead>

                <tr role="row">
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="demo-dtable-01" rowspan="1" colspan="1" style="width: 226px;" aria-label="Country: activate to sort column ascending">City</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="demo-dtable-01" rowspan="1" colspan="1" style="width: 226px;" aria-label="Country: activate to sort column ascending">Country</th>
                    @*<th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="demo-dtable-01" rowspan="1" colspan="1" style="width: 148px;" aria-sort="descending" aria-label="Death rate per 1,000 people: activate to sort column ascending">License key</th>*@
                    <th>Edit

                    </th>
                    <th>Delete
                    </th>
                </tr>
            </thead>

            <tbody role="alert" aria-live="polite" aria-relevant="all">


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.City1
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryOffice.CountryName)
                        </td>

                        <td class=" sorting_1" align="center">
                            @Html.ActionLink(" ", "EditCity", new { id = item.CityID }, new { @class = "btn btn-primary btn-small icon-edit" })
                        </td>

                        <td class=" sorting_1">
                            @Html.ActionLink(" ", "delCity", new { id = item.CityID }, new { @class = "btn btn-danger btn-small icon-trash", onclick = "return confirm('Are you sure want to delete this record ?')" })
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
